@namespace CEC.Blazor.SPA.Components.FormControls

@inherits InputBase<int>

<div class="@this.BaseCss">
    @foreach (var option in this.OptionList)
    {
    <a class="btn btn-info"  @onclick="() => this.Switch(option.Key)">@option.Value</a> 
        @*<button class="@this.GetButtonCss(option.Key)" @onclick="() => this.Switch(option.Key)"> @option.Value</button>*@
    }
</div>
