@using CEC.Blazor.SPA.Components.Forms
@using CEC.Blazor.SPA.Components.UIControls
@using CEC.Weather.Data
@using Microsoft.AspNetCore.Components.Forms

@namespace CEC.Weather.Components
@inherits EditRecordFormBase<DbWeatherStation, WeatherForecastDbContext>

    <UICard IsCollapsible="false">
        <Header>
            @this.PageTitle
        </Header>

        <Body>

            <UIErrorHandler IsError="@this.IsError" IsLoading="this.Loading" ErrorMessage="@this.RecordErrorMessage">

                <ChildContent>

                    <CascadingValue Value="this.EditContext">

                        <UIContainer>

                            <UIFormRow>

                                <UILabelColumn Columns="4">
                                    Record ID:
                                </UILabelColumn>

                                <UIColumn Columns="2">
                                    <InputReadOnlyText Value="@this.EditorContext.WeatherStationID.ToString()"></InputReadOnlyText>
                                </UIColumn>

                            </UIFormRow>

                            <UIFormRow>

                                <UILabelColumn Columns="4">
                                    Name:
                                </UILabelColumn>

                                <UIColumn Columns="4">
                                    <InputText class="form-control" @bind-Value="this.EditorContext.WeatherStationName"></InputText>
                                </UIColumn>

                                <UIColumn Columns="4">
                                    <ValidationMessage For=@(() => this.EditorContext.WeatherStationName) />
                                </UIColumn>

                            </UIFormRow>

                            <UIFormRow>

                                <UILabelColumn Columns="4">
                                    Latitude
                                </UILabelColumn>

                                <UIColumn Columns="2">
                                    <InputNumber class="form-control" @bind-Value="this.EditorContext.WeatherStationLatitude"></InputNumber>
                                </UIColumn>

                                <UIColumn Columns="6">
                                    <ValidationMessage For=@(() => this.EditorContext.WeatherStationLatitude) />
                                </UIColumn>

                            </UIFormRow>

                            <UIFormRow>

                                <UILabelColumn Columns="4">
                                    Longitude
                                </UILabelColumn>

                                <UIColumn Columns="2">
                                    <InputNumber class="form-control" @bind-Value="this.EditorContext.WeatherStationLongitude"></InputNumber>
                                </UIColumn>

                                <UIColumn Columns="6">
                                    <ValidationMessage For=@(() => this.EditorContext.WeatherStationLongitude) />
                                </UIColumn>

                            </UIFormRow>

                            <UIFormRow>

                                <UILabelColumn Columns="4">
                                    Elevation
                                </UILabelColumn>

                                <UIColumn Columns="2">
                                    <InputNumber class="form-control" @bind-Value="this.EditorContext.WeatherStationElevation"></InputNumber>
                                </UIColumn>

                                <UIColumn Columns="6">
                                    <ValidationMessage For=@(() => this.EditorContext.WeatherStationElevation) />
                                </UIColumn>

                            </UIFormRow>

                        </UIContainer>

                    </CascadingValue>

                </ChildContent>

                <AlwaysDisplayContent>

                    <UIContainer>
                        <UIRow>

                            <UIColumn Columns="7">
                                <UIAlert Alert="this.AlertMessage" SizeCode="Bootstrap.SizeCode.sm"></UIAlert>
                            </UIColumn>
                            <UIButtonColumn Columns="5">

                                <UIButton Show="(!this.IsClean) && this.IsLoaded" ClickEvent="this.SaveAndExit" ColourCode="Bootstrap.ColourCode.save">Save &amp; Exit</UIButton>

                                <UIButton Show="(!this.IsClean) && this.IsLoaded" ClickEvent="this.Save" ColourCode="Bootstrap.ColourCode.save">Save</UIButton>

                                <UIButton Show="(!this.IsClean) && this.IsLoaded" ClickEvent="this.ConfirmExit" ColourCode="Bootstrap.ColourCode.danger_exit">Exit Without Saving</UIButton>

                                <UIButton Show="this.IsClean" ClickEvent="this.TryExit" ColourCode="Bootstrap.ColourCode.nav">Exit</UIButton>

                            </UIButtonColumn>

                        </UIRow>

                    </UIContainer>

                </AlwaysDisplayContent>

            </UIErrorHandler>

        </Body>

    </UICard>
