@using CEC.Weather.Components

@namespace CEC.Weather.Components.Views

<p>This is the demo site for a set of Articles on Building Blazor Projects.</p>

<p>It's currently a work in progress!</p>

<SurveyPrompt Title="How is Blazor working for you?" />
<CascadingValue Value="editContext">
    <div class="parent">
        <div class="container">
            <input class="input" @oninput="FilterIdentifiers" @onkeydown="(e) => HandleKBEvents(e)" />
            <div class="dropdown">
                @{
                    int i = 1;

                    foreach (var identifier in identifiersUI)
                    {
                        <div class="dropdown-item" @key="identifier" tabindex="@i" @ref="refs[identifier]">@identifier</div>

                        i++;
                    }
                }


            </div>
        </div>
        </div>
</CascadingValue>

@code {

}
